@charset "UTF-8";

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 112, 112);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 112, 112);
    color: white;
}

h2 {
    color: rgb(4, 170, 170);

}

.basico {
    color: green;
}

.intermediario {
    color: rgb(255, 255, 0);
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 255, 0, 0.507);
}